//
// Alerts
// --------------------------------------------------


// Base styles
// -------------------------

.alert {//rtl
  padding: 8px 14px 8px 35px;
}
.alert h4 {
}

// Adjust close link position
.alert .close {//rtl
  left: -21px;
  right: inherit;
}


// Alternate styles
// -------------------------

.alert-success {
}
.alert-danger,
.alert-error {
}
.alert-info {
}


// Block alerts
// -------------------------

.alert-block {
}
.alert-block > p,
.alert-block > ul {
}
.alert-block p + p {
}
